* {
text-align: center;
font-size: 16px;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;    
}

.line_through {
    text-decoration: line-through;
}

.grid {
    display: grid;
    margin: 0 15% 3% 15%;
    gap: 1rem;
}

/* Ниже я обозначила основную сетку (header, main, footer) */

header {
    grid-area: 1/1/1/1;
    background-color: rgba(250, 235, 215, 0.446);
}

header nav ul {
    display: grid;
    grid-template: repeat(1, minmax(50px, auto)) / repeat(12, minmax(20px, auto));
    gap: 1rem;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

header nav ul li:hover {
    font-weight: 700;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
}

.logo::after {
    content:url(../icons/Frame.svg);
    }

main {
    grid-area: 2/1/8/1;
/* далее делаю сетку внутри элемента */
    display: grid;
    grid-template: repeat(10, minmax(50px, auto)) / repeat(2, minmax(200px, auto));
    gap: 1rem;
}

.sale {
    grid-area: 1/1/2/-1;
    /* далее делаю сетку внутри элемента */
    display: grid;
    grid-template: repeat(10, minmax(20px, auto)) / repeat(8, minmax(100px, auto));
}

.winter_sale {
    grid-area: 2/2/2/2;
    align-self: flex-end;  
}

.word_sale90_first {
    grid-area: 3/1/3/4;
    font-size: 2em;
}

.running_shoes {
    grid-area: 1/4/5/6;
}

.old_price {
    grid-area: 1/7/1/7; 
    align-self: flex-end;
    font-size: 1.25em;
}

.new_price {
    grid-area: 2/7/2/7;
    font-size: 2em;
    color: red;
}

.button_look_models {
    grid-area: 4/2/4/2;  
    width: 200px;
    height: 50px;
}

button, input[type=button] {
    background-color: #D7B399;
    color: white;
    border: none;
    cursor: pointer;
}

.slider {
    grid-area: 10/1/10/-1;
    justify-self: center;
}

.free_delivery {
    grid-area: 2/1/3/-1;
    background-color: black;
    color: white;
}

.man {
    grid-area: 3/1/5/2;
    /* далее делаю сетку внутри элемента */
    display: grid;
    grid-template: repeat(3, 1fr) repeat(2, minmax(50px, auto)) / repeat(2, 1fr);
    gap: 1rem;
}

.man > p:nth-child(1) {
    grid-area: 1/1/1/1;
    text-align: left;
}
.man > p:nth-child(2) {
    grid-area: 2/1/2/1;
    text-align: left;
}

.man button {
    grid-column: 1/1;
    width: 50%;
    height: 60%;

}

.img_man {
    grid-area: 2/2/4/-1;
    justify-self: center;
}

img {
    object-fit: cover;
}

.image-overlay {
    width: 100%;
    height: 100%;
    transition: 0.3s linear all;
}

.image:hover {
    transform: scale(1.1);
    transition: 0.3s linear all;
}


.woman {
    grid-area: 3/2/5/-1;
    /* далее делаю сетку внутри элемента */
    display: grid;
    grid-template: repeat(3, 1fr) repeat(2, minmax(50px, auto)) / repeat(2, 1fr);
    gap: 1rem;
}

.woman > p:nth-child(1) {
    grid-area: 1/1/1/1;
    text-align: left;
}

.woman > p:nth-child(2) {
    grid-area: 2/1/2/1;
    text-align: left;
}

.woman button {
    grid-column: 1/1;
    width: 50%;
    height: 60%;

}

.img_woman {
    grid-area: 2/2/4/-1;
    justify-self: center;
}

.new {
    grid-area: 5/1/7/-1;
    display: grid;
    grid-template: minmax(20px, auto) 1fr minmax(30px, auto) / repeat(4, 1fr);
    gap: 1rem;
}

.border {
    border: 3px solid #D7B399;
}

.new_collection_text {
    grid-area: 1/1/1/-1;
    justify-self: center;
    font-size: 2em;
}

.new_collection {
    grid-row: 2/2;
    padding: .8em;
}

.color {
    color: #D7B399;
}

.new button:last-child {
    grid-area: 3/1/3/-1;
    width: 200px;
    height: 50px;
    justify-self: center;
}

.e-mail {
    grid-area: 7/1/8/-1;
    padding: 1rem;
    background-color: black;
    color: white;
}

.sale90 {
    grid-area: 8/1/10/-1;
    display: grid;
    grid-template: minmax(20px, auto) 1fr minmax(30px, auto) / repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-around;
}

.word_sale90 {
    grid-area: 1/1/1/-1;
    font-size: 2em;
}

.sale_collection{
    grid-row: 2/2;
    padding: 10px;
}

.sale90 button:last-child {
    grid-area: 3/1/3/-1;
    width: 200px;
    height: 50px;
    justify-self: center;
}

footer {
    grid-area: 8/1/8/-1;
    /* далее делаю сетку внутри элемента */
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

footer a {
text-decoration: none;
color: black;
cursor: pointer;
}

footer a:hover {
    font-weight: 700;
    }

